body {
    background-color: #26567A;
    font-family: 'Courier New', Courier, monospace;
}

/* .container {
    margin: 50px auto;
    border: 2px solid rgb(85, 109, 218);
    width: 20em;
    height: 320px;
    border-radius: 5%;
} */

.card-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 60px 60px 70px 70px 70px 70px 70px;
    margin: auto 33.3%;

}

.card {
    background-color: #fff;
    color: grey;
    height: auto;
    width: auto;
    text-align: center;
    font-size: 20px;
    padding-top: 0px;
    display: grid;
    justify-items: center;
    align-items: center;

}

.cardg {
    border: 1px solid #80808032;

}

.cardg:hover {
    background-color: #80808032;
    color: white;
    transition: 0.3s;
}

.cardInp {
    grid-column: span 4;
    grid-row: span 2;
    background-color: #152242;
    color: white;
}

.card0 {
    grid-column: span 2;

}

.cardb {
    background-color: #3892B7;
    color: white;
    border: 1px solid #ffffff32;

}

.cardb:hover {
    border: 1px solid #eeeeee32;
    background-color: #fff;
    color: #3892B7;
    transition: 0.3s;
}

.inp {
    height: 116px;
    width: 396px;
    background-color: #152242;
    color: white;
    border: 1px solid#152242;
    text-align: right;
    font-size: 40px;
    letter-spacing: 2.5px;
    direction: ltr;
    text-orientation: upright;
}

@media only screen and (max-width: 600px) {
    .card-container{
        margin: 0;
    }
}